ul.mtree {
  opacity: 1;
  margin-left: 0;
  padding-right: 0rem;
}
.mtree ul {
  padding-right: 0.8rem;
}
ul.mtree ul {
  margin-left: 1em;
}
ul.mtree li {
  list-style: none;
  cursor: initial;
}
ul.mtree span {
  display: block;
  margin-top: 5px;
  padding-right: 5px;
  cursor: initial !important;
}
ul.mtree li.mtree-node > span {
  font-weight: bold;
}

ul.mtree span {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

ul.mtree.bubba ul {
  margin-left: 0;
}
ul.mtree.bubba ul li {
  font-size: 0.9em;
}
ul.mtree.bubba li.mtree-node > a:after {
  content: "›";
  margin-left: 0.5em;
  font-weight: normal;
  /* position: absolute; */
  left: 0px;
}
ul.mtree.bubba li.mtree-node > a {
  font-weight: bold;
  text-transform: upperCase;
}
ul.mtree.bubba > li {
  border-bottom: 1px solid #ddd;
  position: relative;
}
ul.mtree.bubba > li:last-child {
  border-bottom: none;
}
ul.mtree.bubba li:last-child > a {
  border: none;
}
ul.mtree.bubba > li.mtree-open > a {
  background: #ddd;
  border-radius: 5px;
}
ul.mtree.bubba li > a:hover {
  background: #ddd;
  border-radius: 5px;
}
ul.mtree.bubba li.mtree-active > a {
  background: #a8a8a8;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
ul.mtree.bubba a {
  padding: 7px;
}
ul.mtree.bubba li li > a {
  padding-left: 0.5em;
}
ul.mtree.bubba li li li > a {
  padding-left: 1em;
}
ul.mtree.bubba li li li li > a {
  padding-left: 2em;
}
ul.mtree.bubba li li li li li > a {
  padding-left: 3em;
}

ul.mtree.skinny li {
  font-size: 0.9em;
}
ul.mtree.skinny a {
  padding: 0px 18px;
  color: #555;
}
ul.mtree.skinny a:hover {
  text-decoration: underline;
}
ul.mtree.skinny li.mtree-node:before {
  float: left;
  margin-left: 0.5em;
  zoom: 0.8;
  margin-top: 0.1em;
  color: #777;
}
ul.mtree.skinny li.mtree-open:before {
  content: "-";
}
ul.mtree.skinny li.mtree-closed:before {
  content: "+";
}
ul.mtree.skinny ul > li:first-child {
  margin-top: 0.1em;
}
ul.mtree.skinny ul > li:last-child {
  margin-bottom: 0.3em;
}
ul.mtree.skinny ul a {
  color: #666;
}

ul.mtree.transit {
  background: transparent;
}
ul.mtree.transit ul {
  margin-left: 0;
}
ul.mtree.transit ul > li {
  font-size: 0.9em;
}
ul.mtree.transit li.mtree-node {
  position: relative;
}
ul.mtree.transit li.mtree-node > span:before {
  color: #222;
  font-weight: normal;
  position: absolute;
  left: 20px;
}
ul.mtree.transit li.mtree-open > span:before {
  content: "-";
}
ul.mtree.transit li.mtree-closed > span:before {
  content: "+";
}
ul.mtree.transit ul > li:first-child {
  margin-top: 1px;
}
ul.mtree.transit li.mtree-open > span {
  background: #fff;
}
ul.mtree.transit li > span:hover,
ul.mtree.transit li.mtree-active > span {
  background: #fff;
  color: #222;
  border-radius: 5px;
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f7f7f7;
}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree.transit span {
  padding: 7px;
  color: #555;
}
ul.mtree.transit li span a {
  padding: 0px;
  width: 100%;
  display: block;
}
ul.mtree.transit li.mtree-node > span a {
  display: inline;
}
ul.mtree.transit li li > span {
  padding-left: 1.6em;
}
ul.mtree.transit li li li > span {
  padding-left: 2.4em;
}
ul.mtree.transit li li li li > span {
  padding-left: 3.2em;
}
ul.mtree.transit li li li li li > span {
  padding-left: 4em;
}

ul.mtree.jet ul {
  margin-left: 0;
}
ul.mtree.jet li {
  margin-bottom: 1px;
}
ul.mtree.jet li:last-child {
  margin-bottom: 0px;
}
ul.mtree.jet li:first-child {
  margin-top: 1px;
}
ul.mtree.jet li.mtree-active span {
  background: #e3e3e3;
}
ul.mtree.jet li.mtree-active li:last-child > span {
  border-radius: 0px 0px 3px 3px;
}
ul.mtree.jet li.mtree-active > span {
  background: #008cba;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
}
ul.mtree.jet li > span:hover {
  background: #a8a8a8;
  color: #fff;
}
ul.mtree.jet span {
  padding: 5px 0px 5px 1em;
}
ul.mtree.jet li li > span {
  padding-left: 2em;
}
ul.mtree.jet li li li > span {
  padding-left: 3em;
}
ul.mtree.jet li li li li > span {
  padding-left: 4em;
}
ul.mtree.jet li li li li li > span {
  padding-left: 5em;
}

ul.mtree.nix {
  background: none;
}
ul.mtree.nix span {
  display: inline;
}
ul.mtree.nix ul {
  margin-left: 1em;
}
ul.mtree.nix ul > li {
  list-style-position: inside;
}
ul.mtree.nix li {
  list-style: disc;
}
